{% extends 'inventario/model_page.html' %}

{% block content %}
    <h1>Lista de Itens</h1>
    
    
    <ul>
        <a href="{% url 'item_create' %}">Adicionar Novo Item</a>
    </ul>
    
    <ul>   
        {% for item in items %}
            <li>  <b>Nome:</b> {{ item.nome }} 
            <td> <b>Quantidade:</b> {{ item.quantidade }} <b>Preço</b> R$ {{ item.preco }}
            <td > <a href="{% url 'editar_item' item.id %}"> Editar</a>
                <td > <a href="/deletar_item/{{item.id}}" >Apagar</a>     
            </li>
        {% empty %}
           <li>Nenhum item encontrado.</li> 
        {% endfor %}
        
    </ul>
{% endblock %}