<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/inventario_project/static/inventario/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

    <title>Inventário - Adicionar Item</title>
</head>
<body>
    <h1>Teste de homepage</h1>
        <h3>Esta página pode servir como um registro de itens comprados, armazenados para checagem de desvalorização, ou até mesmo como um controle financeiro. Tudo depende da criatividade do usuário</h3>
        <script href="/inventario_project/static/inventario/scripts.js"></script>
</body>
</html>