<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/inventario_project/static/inventario/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

    <title>Inventário - Cadastro de itens</title>
</head>
<body>
    <header>

    <h1>Inventário</h1>

    </header>

    {% block content %}

    {% endblock %}

    <footer>
        <p>&copy; 2024 Inventário meia-boca</p>
    </footer>


</body>
</html>